/**************/
/* App styles */
/**************/

.App {
  background-color: lightskyblue;
}

.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.App-main {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

/***********************/
/* Chat message styles */
/***********************/


/* "local" messages are shown on the left side */
.chat-entry.local {
  text-align: left;
}

.chat-entry.local .entry-time {
  text-align: right;
}

.chat-entry.local .entry-bubble:before {
  left: -33px;

  border-color: lightyellow transparent transparent transparent;
}

.chat-entry.local .entry-bubble:hover:before {
  border-color: #fefea2 transparent transparent transparent;
}

/* "remote" messages are shown on the right side, in blue */
.chat-entry.remote {
  text-align: right;
}

.chat-entry.remote .entry-bubble {
  margin-right: 0;
  margin-left: auto;

  background-color: lightcyan;
}

.chat-entry.remote .entry-bubble:hover {
  background-color: #a9f6f6;
}

.chat-entry.remote .entry-time {
  text-align: left;
}

.chat-entry.remote .entry-bubble:before {
  left: 33px;

  border-color: lightcyan transparent transparent transparent;
}

.chat-entry.remote .entry-bubble:hover:before {
  border-color: #a9f6f6 transparent transparent transparent;
}

/*******************/
/* Chat log styles */
/*******************/
